<header class="wrap">
    <div class="logo-wrapper">
        <img src="../images/svg/logo.svg" alt="logo" class="logo">
        <p>CopyBro</p>
    </div>
    <div>
        <button class="blue-button">Установить</button>
        <div class="hidden-download-links">
            <a href="#"><img src="../images/svg/google_play_logo_icon_169081.svg" alt="google play"></a>
            <a href="#"><img src="../images/svg/2333394-apple-code-os-systme_85582.svg" alt="apple"></a>
        </div>
    </div>
</header>
<main class="wrap">
    <section class="preview">
        <aside class="preview__text-block">
            <div class="preview__text-block">
                <h2 class="preview__title"><span class="blue-text">Инвестируйте легко</span>
                    <br> и получайте доход<br>
                    <span class="blue-text">51.9%</span> годовых
                </h2>
                <p>Выбирайте стратегии успешных трейдеров и копируйте сделки в авторежиме. Зарабатывайте легко и с минимальными рисками через мобильное приложение Сopybro.</p>
            </div>
            <div class="preview__buttons-wrapper">
                <button class="blue-button">Установить приложение</button>
                <button class="white-button"><img src="../images/svg/google_play_logo_icon_169081.svg" alt="">Google play</button>
                <button class="white-button"><img src="../images/svg/2333394-apple-code-os-systme_85582.svg" alt="">App Store</button>
            </div>
        </aside>
        <aside>
            <div>
                <img src="../images/svg/" alt="">
                <span class="small-title">60 мин</span>
                <p>Сэкономленного времени в день</p>
            </div>
            <img src="../images/svg/business-3d-with-phone-man-close-up-7%201.svg" alt="">
            <div>
                <img src="../images/svg/" alt="">
                <span class="small-title">От 0,0&#8381;</span>
                <p>Платите комиссию только с прибыли</p>
            </div>
            <div>
                <img src="../images/svg/" alt="">
                <span class="small-title">51,9%</span>
                <p>Средняя годовая доходность</p>
            </div>
        </aside>
    </section>
    <section class="second-section">
        <aside class="second-section__images">

        </aside>
        <aside class="second-section__main-text-wrapper">
            <div class="second-section__main-text">
                <h2>Автоследование:<br><span class="blue-text">минимальные<br> риски</span> оптимальная доходность</h2>
                <p>Мы собрали для вас лучшие торговые стратегии с подтверждёнными данными по прошлым сделкам и их доходности<br>
                   Трейдер ежедневно следит за динамикой рынка балансируя риски и доходность стратегии.
                </p>
            </div>
        </aside>
    </section>
    <section class="info-cards">
        <h2>Стать инвестором<br> <span>просто</span> </h2>
        <aside class="info-card active-card">
            <div class="info-card__title-wrapper">
                <h3><span class="blue-text"></span></h3>
                <p class="info-card__text"></p>
            </div>
        </aside>
        <aside class="info-card">
            <div class="info-card__title-wrapper">
                <h3><span class="blue-text"></span></h3>
                <p class="info-card__text"></p>
            </div>
        </aside>
        <aside class="info-card">
            <div class="info-card__title-wrapper">
                <h3><span class="blue-text"></span></h3>
                <p class="info-card__text"></p>
            </div>
        </aside>
        <div class="button-wrapper">
            <button class="blue-button">Установить приложение</button>
        </div>
    </section>
</main>